.logo-container{
    /* border: 1px solid white; */
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.logo-container div{
    /* border: 1px solid white; */
    overflow: hidden;
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}


.logo-imagen{
     width: 80px;
    height: 80px;
}
.logo-caligrafia{
    width: 150px;
    height: 35px;
}

.nav-container{
    
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgb(0 0 0 / 75%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    z-index: 1;
    padding: .5em;
}
    
.item-container{
    width: 30%;
    

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-container a{
    color: white;
    text-decoration: none;
}

.App{
    /* border: 1px solid white; */
    min-height: 100vh;
    
  }

.responsive-nav{
    display: none;
}

  @media screen and (max-width:1150px ){
    .item-container{
        display: none;
    }

    .responsive-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
        /* width: 100%; */
        /* margin-left: ; */
        
    }
    
    

  }
  