.landing-container{
    width: 100%;
    min-height: 100vh;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title-container{
    width: 100%;
    height: 100vh;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border:none;

    background-image: url(../src/assets/Tozume.jpg);
    background-size: cover;
    margin-top: 0;
}

.title{
    
    width: 50em;
    margin-left: 10%;
    
}

.title h1{
    font-size: 4em;
    margin-top: -.5em;
}

.title h2{
    font-size: 2em;
}

.title p{
    border-top: 1px solid white;
    padding: 1em;
    margin-top: -1em;
    width: 30em;
    font-weight: 300;
}

.button-container{
   

    width: 40em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-container a{
    padding: 1em;
    border-radius: 16px;
    width: 15em ;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 75%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    color: white;
    text-decoration: none;
    /* border: 1px solid white; */
}


.footer-box{
    background: rgb(0 0 0 / 75%);
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
    width: 100%;
    min-height: 20em;
    margin-top: 10em;
}


.container-pensamiento{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
}

@media screen and (max-width:700px ){
    .title-container{
       
        width: 100%;
        align-self: center;
    }

    #title-container{
    background-image: url(../src/assets/Tozume1.png);

    }

    .App{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .button-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;

       

    }

    .button-container a{
        margin-bottom: 2em;
        
    }   

    .title{
        margin-top: 6em;
        width: 100%;
    }

    .title h1{
        font-size: 2.5em;
    }

    .title p{
        width: 80%;
    }
}